@font-face {
    font-family: 'JTU';
    src: url('../fonts/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'JTU';
    src: url('../fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.blind{
    position: absolute;   
    width: 1px;height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

body{
    background-color: #1f2937;
    color: #fff;
    margin: 0 auto;
    font-family: JTU, Pretendard-Regular, sans-serif; 
}
.common-inner{
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 50px;
}