
.title{
    font-size: 77px;
    font-weight: 300;
    display: inline-block;
    margin: 60px 0;
}
.title em{
    font-weight: 800;
    color: #ffd951;
}


.sc-about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sc-about .title{
    font-size: 100px;
    animation: banner 15s infinite linear;



}
@keyframes banner {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.sc-about .title span{
    display: block;
    transition: .5s;
}



.sc-work .title{
    opacity: 1;
}
.sc-work .work-list .num2,.sc-work .work-list .num4 ,.sc-work .work-list .num6{
    flex-direction: row-reverse;
}
.sc-work .work-wrap{
    margin-top: 40px;
}
.sc-work .subtitle{
    font-size: 50px;
    margin: 20px 0;
    line-height: 70px;
}
.sc-work .skill-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sc-work .link-portfolio{
    display: flex;
    align-items: center;
    color: #727272;
    justify-content: space-between;
}
.sc-work .img-box{
    width: calc(50% - 30px);
    opacity: 0.5;
    transition: .8s;
    overflow: hidden;
}
.sc-work .link-portfolio:hover .img-box{
    opacity: 1;
}
.sc-work img{
    width: 100%;
    transition: .8s;
}
.sc-work .link-portfolio:hover img{
    transform: scale(1.1);

}
.sc-work .desc-box{
    width: calc(50% - 15px);
    word-break: keep-all;
    transition: .8s;
}
.sc-work .desc-box span{
    display: inline-block;
    border: 1px solid #727272;
    border-radius: 10px;
    font-size: 25px;
    padding: 15px;
    margin: 20px 0;
    background: #18181b;
}
.sc-work .desc-box::after{
    content: '';
    position: relative;
    width: 0%;
    height: 1px;
    background-color: #363636;
    transition: 1.9s;
    display: inline-block;
}
.sc-work .link-portfolio:hover .desc-box{
    color:#fff;
}
.sc-work .link-portfolio:hover .desc-box::after{
    width: 100%;
    background-color: #fff;
}
.sc-work .type{
    padding: 10px 20px;
    border-radius: 17px;
    background-color: #ffd951;
    font-weight: 700;
    color: #18181b;
    display: inline-block;
    margin-right: 20px;
}


.sc-contact{
    margin-top: 100px;
    display: flex;
}
.sc-contact .title{
    opacity: 1;
}
.sc-contact .mail{
    display: inline-block;
    margin-left: 50px;
    line-height: 200px;
    text-decoration: underline;
}

.sc-contact .mail:hover{
    text-decoration: none;
}


@media screen and (max-width: 1200px) {
    /* *1024을 기준으로 화면을 보고 잡아야함 */
    

    .sc-contact .mail {
        display: inline-block;
        margin-left: 50px;
        line-height: 200px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 1023px) {
    /* *768을보고 잡아야함 */
    
    .sc-work{
        margin-top: 100px;
    }
    .sc-work .link-portfolio{
        flex-direction: column;
        
    }
    .sc-work .work-list .num2,
    .sc-work .work-list .num4,
    .sc-work .work-list .num6{
        flex-direction: column;
    }
    .sc-work .img-box{
        width: 100%;
    }
    .sc-work .desc-box{
        width: 100%;
    }
    .sc-contact{
        flex-wrap: wrap;
    }
  
    

    .sc-contact .mail {
        display: inline-block;
        margin-left: 50px;
        line-height: 200px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 767px) {
    /* *320을 보고 잡아야함 */
    .sc-about .title{
        font-size: 50px;
    }
    .title{
        font-size: 50px;
    }
    .sc-work .desc-box span{
        
        font-size: 15px;
        padding: 10px;
        margin: 10px 0;
        background: #18181b;
    }
   
    .sc-work .subtitle{
        font-size: 25px;
        line-height: 30px;
    }
    .sc-contact{
        flex-direction: column;
    }
  
    .sc-contact .mail{
        display: inline-block;
        margin-left: 0;
        line-height: 20px;
    }
   
}